$form_border-color: lightgrey !default;
$form_border-color-focus: blue !default;
$form_border-color-error: red !default;
$form_border-color-warning: orange !default;
$form_border-color-success: green !default;
$form_border-width: 2px !default;
$form_border-radius: 4px !default;
$form_border-style: solid !default;
$form_padding: 4px;

@mixin form($border-color:$form_border-color, $border-width: $form_border-width, $border-radius:$form_border-radius, $border-style:$form_border-style, $padding:$form_padding) {
  border-color: $border-color;
  border-width: $border-width;
  border-radius: $border-radius;
  border-style: $border-style;
  padding: $padding;
  transition: 0.5s;
}

.form, .form-error, .form-warning, .form-success {
  @include form();
}

.form-error {
  border-color: $form_border-color-error;
}

.form-warning {
  border-color: $form_border-color-warning;
}

.form-success {
  border-color: $form_border-color-success
}

.form:focus {
  border-color: $form_border-color-focus
}