// thumbs

$thumb_box-width: 320px !default;
$thumb_button-color: royalblue !default;
$thumb_button-text-color: white !default;

// buttons

$button_border-radius: 4px !default;
$button_text-align: center !default;
$button_text-decoration: none !default;
$button_background-color: royalblue !default;
$button_color: white !default;

// grid

$grid_cols:12 !default;

//form

$form_border-color: lightgrey !default;
$form_border-color-focus: blue !default;
$form_border-color-error: red !default;
$form_border-color-warning: orange !default;
$form_border-color-success: green !default;
$form_border-width: 2px !default;
$form_border-radius: 4px !default;
$form_border-style: solid !default;
$form_padding: 4px;